
#block-user-0 {
  width: 490px;
}

#aToolTip {
  width: 370px;
}

.levels-list tr.odd,
.levels-list tr.even,
.levels-list tr.odd td,
.levels-list tr.even td {
  background-color: #FDFFEF;
  border: 1px solid #CCCCCC !important;
}

.levels-list td.views-field-name-1:hover {
  background-color: #E3ECC0;
  cursor: pointer;
}

#aToolTip ul li {
    background: url("../images/list-level-1.png") no-repeat scroll 0 0 transparent;
    font-family: "Myriad Pro","Myriad Web Pro Regular","Lucida Grande",Geneva,Trebuchet MS,sans-serif;
    line-height: 100%;
    list-style-image: none;
    list-style-type: none;
    padding: 0 0 9px 15px;
}

.prices-list td.views-field-body {
  width: 300px;
}

div.view-program-types div.views-row {
    background-color: #FDFFEF;
    border: 1px solid #CCCCCC !important;
    float: right;
    height: 17px;
    padding: 10px 0px;
    text-align: center;
}

div.view-program-types div.views-row:hover {
  background-color: #E3ECC0;
  cursor: pointer;
}

body#pid-node-32 div.main-group div#content-inner.block {
  overflow: visible;
}

.levels-list tr.odd,
.levels-list tr.even,
.levels-list tr.odd td,
.levels-list tr.even td {

}

.im-green-background {
    background: url("../images/background.jpg") repeat scroll 0 0 transparent;
}

.yellow-background .main-wrapper {
  background-color: #ece49d;
}

.red-background .inner {
  background-color: #f4cb83;
}


.main-wrapper .block .inner {
  margin: 0;
}

#program-descirption {
    background-color: #FDFFEF;
    border: 1px solid #CCCCCC !important;
    margin-left: 10px;
    width: 208px;
  overflow: hidden !important;
}

.oveflow-show {
  overflow: visible;
}

div.cover div.info {
  display: none;
}

div.view-program-types div.inner div.view-content {
  padding: 0;
  margin: 0;
}

/* FORM SUBMIT BUTTON */
.red-accents a.link-button,
.view-program-types .views-showcase-big-panel .field-content a {
  background: #A51D1D url(../images/nav-bg-red.gif) top left repeat-x;
  border-bottom: 1px solid #A4141E;
  border-top: 1px solid #D73131;
  border-right: 1px solid #A4141E; /* LTR */
  border-left: 1px solid #D73131; /* LTR */
  color: #FFF;
  font-weight: bold;
  padding: 4px;
}

.right {
  float: right;
}

.node-type-program-types .view-node-program-type-teacher .views-field-field-profile-avatar-fid  img {
  padding: 0 7px;
}

.node-type-program-types .view-node-program-type-teacher .views-field-uid {
  text-align: center;
}

.node-type-program-types .view-node-program-type-teacher td {
  display: inline-block;
  width: 143px;
}

#header-site-info-inner {
  min-width: 400px !important;
}

html.js .fusion-horiz-login#block-user-0 #user-login-form label {
  color: black;
  top: 13px;
}

.metaquiz-active-quiz {
  border: 1px red solid;
}